.advantages {
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
		&__wrapper {
            margin-top: 65px;
            display: flex;
            justify-content: space-between;
		}
		&__item {
            width: 240px;
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            img {
                display: block;
                margin: 0 auto;
            }
            span {
                margin: 38px 0 26px 0;
                display: block;
                font-size: 18px;
                font-weight: 700;
                line-height: 17px;
            }
            a {
                color: #ff0000;
            }
		}
}