@media (max-width: 920px) {
    .slider {
        padding: 50px 0 50px 0;
        .prev {
            display: none;
        }
        .next {
            display: none;
        }
    }
}
@media (max-width: 650px) {
    
}