* {
    font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import "base/mixins";
@import "base/variables";

@import "blocks/buttons";
@import "blocks/header";
@import "blocks/title";
@import "blocks/forms";
@import "blocks/catalog-item";
@import "blocks/modal";
@import "blocks/pageup";

@import "section/promo";
@import "section/advantages";
@import "section/consultation";
@import "section/slider";
@import "section/catalog";
@import "section/reviews";
@import "section/footer";

@import "media";